# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Git
.git/
.gitignore

# Local development files
backendTester/
.vscode/

# Logs
*.log
